<ion-content scroll="false" class="landing-content">
  <!-- <img src="img/assets/images/imghome.png" class="landing-image"> -->
  <div class="landing-text">
    <h4>BIENVENIDOS A UNA <span>BÚSQUEDA REFRESCANTE</h4>
    <p>Divertite con la aplicacion de <span class="gblack">Dos Pinos</span> y encontrá muchos <span class="gblack"><span class="te-rojo">Té</span>soros enterrados en la playa.</span></p>
  </div>
  
  <!-- <button ui-sref="tutorial" class="button button-icon landing-play-button"><img src="img/assets/images/jugar.png"></button> -->
  
</ion-content>